body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333333;
}

footer {
    background-color: #4f46e5;
    color: #ffffff;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

header {
    background-color: #4f46e5;
    color: #ffffff;
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

section {
    margin-bottom: 1rem;
}

