:root {
    --background-color: #f9f9f9;
    --heading-color: #f9f9f9;
    --primary-color: #4f46e5;
    --text-color: #333333;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}
button {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: none;
    cursor: pointer;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

body.dark-mode {
    --background-color: #333333;
    --heading-color: #f9f9f9;
    --primary-color: #4f46e5;
    --text-color: #f9f9f9;
}

footer {
    bottom: 0;
    background-color: var(--primary-color);
    color: var(--heading-color);
    /* position: fixed; */
    padding: 0.5rem;
    text-align: center;
    width: 100%;
}

header {
    background-color: var(--primary-color);
    color: var(--heading-color);
    padding: 2rem;
    text-align: center;
}

main {
    max-width: 900px;
    margin: auto;
    padding: 2rem;
}

section {
    margin-bottom: 1rem;
}

span.highlight {
    background-color: var(--primary-color);
    font-weight: bold;
}


#projects {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}

.project {
    border: 1px solid var(--primary-color);
    border-radius: 8px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    width: calc(50% - 1rem);
}

.project:hover {
    transform: translateY(-0.25rem);
}